.DS_Store
node_modules/
npm-debug.log
selenium_tests/selenium-debug.log
test/unit/coverage
test/e2e/reports
rar_orchestrator/scraped_articles/*
rar_orchestrator/data/*
rar_orchestrator/articles.db
fundamentals_extractor/ScraXBRL/*
fundamentals_extractor/data/*
fundamentals_extractor/fundamentals
*.pyc

